* {
    padding: 0;
    margin: 0;
}

.cari {
    border-bottom: 30px solid #683F1E;
    background: #EAD0A9;
    width: 100%;
    height: 50vh;
}

.hasil {
    margin-top: -60px;
}

input {
    display: inline-block;
    margin-top: 40px;
}

.isi {
    border: 5px solid black;
    width: 70px;
}