.kotak {
    margin-top: 10px;
    margin-bottom: 0px;
    border: 5px solid #683F1E;
    border-radius: 15px;
    height: 215px;
    overflow: hidden;
}

.background {
    background-image: url("../asset/putih.jpg");
    background-attachment: fixed;
}

.gambar,
.informasi {
    display: inline-block;
}

.gambar {
    /* background-image: url("../asset/sharon-chen-352895-unsplash.jpg"); */
    /* background-size: cover; */
    background-color: #EEE;
}

.gambar .gambar-card {
    width: 100%;
    height: 100%;
}

.informasi {
    padding-left: 3%;
    float: right;
}

.btn {
    margin-top: 5px;
}


/*responsive desktop*/

@media screen and (min-width: 320px) {
    .kotak {
        min-height: 560px;
    }
    .gambar {
        width: 100%;
        height: 50%;
    }
    .informasi {
        width: 100%;
        height: 45%;
    }
}

@media screen and (min-width: 425px) {
    .kotak {
        min-height: 550px;
    }
    .gambar {
        width: 100%;
        height: 50%;
    }
    .informasi {
        width: 100%;
        height: 45%;
    }
}

@media screen and (min-width: 768px) {
    .kotak {
        min-height: 260px;
    }
    .gambar {
        width: 30%;
        height: 100%;
    }
    .informasi {
        width: 68%;
        height: 100%;
    }
}

@media screen and (min-width: 1366px) {
    .kotak {
        min-height: 240px;
    }
    .gambar {
        width: 30%;
        height: 100%;
    }
    .informasi {
        width: 68%;
        height: 100%;
    }
}